/****** General ***********/
html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-border-color: #D9D9D9;

    --info-fs: 16px;
    --title-section-fs: 22px;
    --card-title-fs: 16px;
    --title-filter-fs: 18px;
}

#hebergements,
#activites {
    scroll-margin-top: 140px;
}

.title-filter {
    font-size: var(--title-filter-fs);
    margin: 30px 0 0 0;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.main-container .header-content {
    display: flex;
    justify-content: space-between;
}

.header-content .logo {
    margin-top: 2.5rem;
}

.logo .logo-img {
    height: auto;
    width: 61.09px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.header-content .nav-links {
    display: flex;
    justify-content: end;
    list-style: none;
    font-size: var(--info-fs);
    margin: 0;
    padding: 0;
}

.nav-links .nav-item {
    padding-top: 15px;
    border-top: 3px solid transparent;
    transition: border-color 0.3s;
}

.nav-links .nav-item:nth-child(1) {
    margin-right: 4rem;
}

.nav-links .nav-item:hover {
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
}

.info-group .info-group-body h2 {
    margin-bottom: 8px;
}

.info-group .search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 35px;

}

.search-bar .search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    background-color: var(--main-bg-color);
    border-radius: 15px;
}

.search-form .icon-wrapper {
    width: 50px;
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    flex-shrink: 0;
}

.icon-wrapper .fa-location-dot {
    font-size: var(--title-filter-fs);
    color: black;
}

.search-form .search-input {
    min-width: 0;
    width: 190px;
    padding: 0.95rem;
    border: none;
    outline: none;
    font-size: var(--title-filter-fs);
    box-sizing: border-box;
    margin: 1px 0;
    font-weight: bold;
}

.search-form .search-button {
    flex-shrink: 0;
    padding: 1rem;
    font-weight: bold;
    font-size: var(--title-filter-fs);
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}


.search-bar-filtres {
    margin-top: 35px;
    margin-bottom: 0;
    display: flex;
    gap: 1rem;
}

.search-bar-filtres .filtres-content {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.filtre-item {
    display: flex;
    align-items: center;
    padding: 0.85rem 1.2rem;
    border: 2px solid var(--filter-border-color);
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    gap: 0.8rem;
    font-size: var(--info-fs);
    font-weight: bold;
    justify-content: center;
}

.filtre-item i {
    font-size: 22px;
}


.filtre-item:hover {
    background-color: var(--filter-bg-color);
}

.info-group .info-text {
    margin-top: 35px;
    margin-bottom: 35px;
}

.info-group-body p {
    padding: 0;
    margin: 0;
}

.info-text .icon-wrapper {
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-bg-color);
    border-radius: 50%;
    color: var(--main-color);
    font-size: 13px;
    vertical-align: middle;
    margin-right: 0.4rem;
    margin-bottom: 0.2rem;
}

.info-text .icon-wrapper i {
    font-size: 13px;
    color: var(--main-color);
    position: relative;
    left: -0.5px;
}

.info-text .fa-info::before {
    position: relative;
    left: 1px;
    bottom: 1px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: var(--title-section-fs);
}

.section-subtitle {
    font-size: 19px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: var(--card-title-fs);
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px 30px 15px 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    margin-top: 0;
    margin-bottom: 0;
}

.hebergements-plus {
    margin-top: 30px;
}


.hebergements-plus a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.hebergements-cards a {
    display: block;
    text-decoration: none;
    color: inherit;
    flex: 1 1 calc(33.333% - 30px);
    box-sizing: border-box;
}

.hebergements-cards .card {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 8px 0;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    width: 100%;
    margin-bottom: 4rem;
}

.activites-title {
    margin: 60px 0 0 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;
    margin: 30px 30px;
}

.activites-cards a {
    display: block;
    text-decoration: none;
    color: inherit;
    flex: 1 1 calc(33.333% - 30px);
    box-sizing: border-box;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    padding-left: 15px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.activites-cards .card-subtitle {
    margin: 8px 0;
    font-size: 14px;
}

.activites-cards .card-rating {
    margin-bottom: 5px;
}

.footer-content {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: left;
    gap: 17rem;
    padding: 0 3rem;
}

.footer-content .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin: 15px 0;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .search-bar-filtres {
        display: block;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .activites {
        width: 100%;
    }

    .activites-cards .card img {
        height: 200px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .footer-content {
        flex-wrap: nowrap;
        gap: 5rem;
    }
}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    #hebergements,
    #activites {
        scroll-margin-top: 130px;
    }

    body {
        margin: 0;
    }

    .section-subtitle {
        margin: 0;
        font-size: 19px;
    }

    .main-container {
        max-width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .main-container .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-content .logo {
        margin: 1.8rem auto;
    }

    .header-content {
        flex-direction: column;
    }

    .header-content .nav-links {
        position: relative;
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        list-style: none;
        border-bottom: 2px solid var(--main-bg-color);
        padding: 0;
        margin: 0;
    }

    .nav-links .nav-item {
        position: relative;
        margin-right: 35px;
        border-top: 0;
        padding-bottom: 14px;
        padding-top: 0px;
        transition: border-color 0.3s;
    }

    .active {
        color: var(--main-color);
    }

    .nav-links .nav-item:nth-child(1) {
        margin-right: 0;
    }

    .nav-links .nav-item:last-child {
        margin-right: 50px;
    }

    .nav-links .nav-item:hover {
        color: none;
        border-top: 0px solid transparent;
    }

    .nav-track {
        position: absolute;
        bottom: 0;
        z-index: 1;
        height: 2px;
        background-color: var(--main-color);
        width: 50%;
        left: 0;
        transition: 0.3s ease-in-out;
        margin: -2px;
    }

    .nav-item:nth-child(1).active~.nav-track {
        left: 0;
    }

    .nav-item:nth-child(2).active~.nav-track {
        left: 50%;
    }

    .info-group {
        margin: 0 0.455rem;
    }

    .info-group .search-bar {
        overflow: visible;
    }

    .search-form {
        width: 100%;
        margin: 0;
    }

    .search-form .search-input {
        min-width: 0;
        width: 100%;
        padding: 1.2rem;
        border: none;
        outline: none;
        font-size: var(--title-filter-fs);
        box-sizing: border-box;
    }

    .search-form .search-button {
        flex-shrink: 0;
        font-weight: bold;
        font-size: 0px;
        background-color: var(--main-color);
        color: var(--main-bg-color);
        border: none;
        border-radius: 15px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        margin-left: -20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.30);
        height: 60px;
        width: 60px;
    }

    .search-form .search-button::before {
        content: "\f002";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        color: #ffffff;
        font-size: 18px;
    }

    /********* Filtres ***********/

    .search-bar-filtres {
        margin-top: 35px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        align-items: center;
    }

    .search-bar-filtres .filtres-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .filtre-item:nth-child(1) {
        padding-right: 12px;
    }

    .filtre-item {
        flex: 0 0 48%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0.8rem 1rem;
        margin-bottom: 10px;
    }

    .fa-money-bill-wave {
        margin-right: -2px;
    }

    .fa-person {
        padding: 0 0.2rem;
    }

    .info-text p {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-size: var(--info-font-size);
        line-height: 1;
    }

    .info-text .icon-wrapper {
        width: 26px;
        height: 20px;
        display: flex;
        border: 1px solid var(--filter-border-color);
    }

    .info-text .icon-wrapper i {
        font-size: 11px;
        left: -0.6px;
    }



    /****** Hebergements And Populaires ***********/

    .hebergements {
        order: 2;
        background-color: #ffffff !important;
    }

    .populaires {
        order: 1;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    /****** Hebergements ***********/

    .hebergements-plus {
        margin-top: 0;
    }

    .hebergements-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .hebergements-cards .card {
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.10);
    }

    .hebergements-cards img {
        object-fit: fill;
    }

    .hebergements-cards .card-content {
        flex-direction: column;
    }

    /****** Populaires ***********/
    .populaires {
        margin: 0;
        border-radius: 0;
        padding-top: 20px !important;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.10);
    }

    /****** Activités ***********/

    .activites-cards {
        flex-direction: column;
    }

    .activites-cards .card {
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.10);
    }

    .activites-cards .card img {
        object-fit: cover;
        height: 141px;
    }

    .activites-cards>a:nth-child(4) .card img {
        object-fit: fill;
    }

    .activites-cards .card-content {
        margin: 4px 0;
    }

    /******* Footer **********/

    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2rem;
        gap: 0;
    }
}